package Sample

import Gjallarhorn
import SampleController

Module :: struct {}

Register :: proc(m: Module, app: ^Gjallarhorn.App) {
    app.Get("/sample/:id", SampleController.Get)
    app.Post("/sample", SampleController.Create)
    app.Delete("/sample/:id", SampleController.Delete)

    // introduce a pragmatic method called show
    app.Show("/", Static("./path/to/template"))
}